{% extends 'layout.html' %}
 
{% block content %}


<div class="container">
  <h1>登録情報</h1>
  <hr>

  <!-- アカウント情報 -->
  <div class="row">
    <div class="col"><h4>■　ユーザー名</h4></div>
    <!-- 後で更新ボタン追加 -->
  </div>
  <table class="table table-bordered">
    <tbody>
     
      <tr>
        <td style="width: 45%;">ユーザー名 </td>
        <td style="width: 55%;">{{ user.username }}</td>
      </tr>
    </tbody>
  </table>

  <!-- ウォレットアドレス -->
  <div class="row mt-4">
    <div class="col"><h4>■　ウォレットアドレス</h4></div>
    <!-- 後で更新ボタン追加 -->
  </div>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td style="width: 45%;">ウォレットアドレス</td>
        <td style="width: 55%;">{{wallet_info}}</td>
      </tr>
    </tbody>
  </table>


  <!-- パスワード -->
  <div class="row mt-4">
    <div class="col"><h4>■　パスワード</h4></div>
    <!-- 後で更新ボタン追加 -->
  </div>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td style="width: 45%;">パスワード</td>
        <td style="width: 55%;">非表示</td>
      </tr>
    </tbody>
  </table>

  <!-- 権限 -->
  <!-- <div class="row mt-4">
    <div class="col"><h4>■　権限</h4></div>
  </div>
  <table class="table table-bordered">
    <tbody>
      {% if user.is_staff %}
      <tr>
        <td style="width: 50%;">スタッフ権限</td>
        <td style="width: 50%;">{{ user.is_staff }}</td>
      </tr>
      {% endif %}
      {% if user.is_superuser %}
      <tr>
        <td>スーパーユーザー権限</td>
        <td>{{ user.is_superuser }}</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</div>
<br> -->

<!-- <div class="container">
  <h1>記事情報</h1>
  <hr>

  <table class='table table-striped table-hover'>
    <tr>
        <th>タイトル</th> -->
        <!-- <th>レビュースコア</th> -->
    <!-- </tr>
    {% for info in post_info %}
    <tr>
      <td>{{ info }}</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3点</td>
    </tr>
    {% endfor %} -->
  <!-- </table>
</div> -->


<br>
<a href='{% url "fc_request:request_list" %}' class='btn btn-outline-primary offset-10'> 一覧に戻る</a>


{% endblock %}