{% extends 'layout.html' %}
 
{% block content %}
 
<div class="container">
    <h1>リクエスト内容</h1>
    <hr>
    <p>タイトル：{{ object.title }}</p>  <!--detail_Aritcleで定義したobjectを使用-->
    <p>依頼ユーザー：{{ object.contributor }}</p>
    <p>カテゴリー：{{ object.category }}</p>
    <p>依頼内容：{{ object.request_cont}}</p>
    {% if object.image %}    <!--もし画像ファイルがあれば画像を表示する-->                   
    <p><img src="{{object.image.url}}"></p>
    {% endif %}
    <p>投稿日：{{ object.startline|date:"Y-m-j H:i:s" }}<br>
    <p><a href="https://test.whatsonchain.com/tx/{{object.txid_request}}" target="_blank">ブロックチェーン上で確認</a></p>
</div>
<div class='mt-4'>
    {% if not request.user.is_anonymous %} 
    <a href='{% url "fc_request:response_form" object.pk %}' class='btn btn-primary mr-3'>FCする</a>
    {% endif %}
    <a href='{% url "fc_request:request_list" %}' class='btn btn-outline-primary offset-8'>一覧に戻る</a>
</div>
<br>

<!--FC一覧表示-->
<div class="ui segment">
    <h1>FC一覧</h1>
    <hr>
    {% if response %}
    {% for res in response %}
    <div class="ui segment secondary">
        <p>{{res.user}}
        <br>
        {{res.response_cont}}
        </p>
    </div>
    {% endfor %}
    {% else %}
    <div class="ui warning message"><p>まだFCされていません</p></div>
    {% endif %}
</div>


{% endblock %}